* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  
}

#father {
  position: relative;
  background-color: #132126;
  height: 80vh;
  overflow: hidden;
}

.childrenDot {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #0f0;
  transition: all .3s;
}